* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}

*::selection {
	color: white;
	background: rgba(231, 76, 76, 100);
}

body {
	width: 100%;
	height: 100vh;
	background-color: black;
}

nav {
	height: 10vh;
	background-color: rgba(231, 76, 76, 100);

}

.navDiv {
	display: inline;
	height: 100%;
}

.line {
	
}

#navLogo {
	width: 20%;
	height: 10vh;
}

#navButtons {
	list-style: none;
	vertical-align: top;
	height: 100%;
	display: inline;

}

.navItem {
	display: inline;
	margin-left: 3%;
}

.navBtn {
	width: 15%;
	min-width: 100px;
	height: 100%;
	font-weight: bold;
	font-size: 2.5vw;
	font-family: 'Langar', cursive;
	border: none;
	background-color: rgba(231, 76, 76, 100);
	border-top: 0.5rem solid rgba(231, 76, 76, 100);
	transition-duration: 0.5s;
	text-decoration: none;
	outline: none;
	overflow: hidden;
}

#gameBtn {
	color: white;
	background-color: black;
}



#hamburger {
	display: none;
}

#startPanel {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
	animation: translation 1s ease-in forwards 4.5s;
}

@keyframes translation {
  to {
    top: 45%;
  }
}

#logo1 {
	animation: filler 1s ease-in forwards 4s;
	width: 80%;
}



#logo1 path:nth-child(1) {
	stroke-dasharray: 1256;
	stroke-dashoffset: 1256;
	animation: dash 2s ease forwards;
}

#logo1 path:nth-child(2) {
	stroke-dasharray: 1622;
	stroke-dashoffset: 1622;
	animation: dash 2s ease forwards 0.3s;
}

#logo1 path:nth-child(3) {
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: dash 2s ease forwards 0.6s;
}

#logo1 path:nth-child(4) {
	stroke-dasharray: 1224;
	stroke-dashoffset: 1224;
	animation: dash 2s ease forwards 0.9s;
}

#logo1 path:nth-child(5) {
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: dash 2s ease forwards 1.2s;
}

#logo1 path:nth-child(6) {
	stroke-dasharray: 1256;
	stroke-dashoffset: 1256;
	animation: dash 2s ease forwards 1.5s;
}

#logo1 path:nth-child(7) {
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: dash 2s ease forwards 1.8s;
}

#logo1 path:nth-child(8) {
	stroke-dasharray: 1224;
	stroke-dashoffset: 1224;
	animation: dash 2s ease forwards 2.1s;
}

#logo1 path:nth-child(9) {
	stroke-dasharray: 1478;
	stroke-dashoffset: 1478;
	animation: dash 2s ease forwards 2.4s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filler {
  0% {
    fill: rgba(231, 76, 76, 0);
  }

  100% {
  	fill: rgba(231, 76, 76, 100);
  }
}

#logo2 {
	width: 30%;
	opacity: 0;
	animation: appear 1s ease-in forwards 4s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

#gameSetup {
	margin-top: 2rem;
	opacity: 0;
	animation: appear 1s ease-in forwards 6s;
}

#gameSetup form {
	display: inline;
}

#gameSetup form input, #gameSetup form select, #gameSetup form select optgroup, #gameSetup form select optgroup option, #gameSetup form button {
	background-color: black;
	border: 0.1rem solid rgba(231, 76, 76, 100);
	width: 20%;
	height: 8vh;
	font-weight: bold;
	font-size: 2.5vw;
	font-family: 'Langar', cursive;
	color: white;
	outline: none;
	margin-left: 1rem;
	text-align: center;
}

#gameSetup form input:hover, #gameSetup form select:hover, #gameSetup form button:hover {
	background-color: rgba(231, 76, 76, 100);
	color: black;
	cursor: pointer;
}

#gameSetup form select::selection {
	cursor: pointer;
	color: white;
	background-color: rgba(61, 25, 25, 50);
}

#startBtn {
	overflow: hidden;
}

#gamePanel {
	display: none;
}

#leaderboardPanel {
	display: none;
}

#aboutPanel {
	display: none;
}