* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}

*::selection {
	color: white;
	background: rgba(231, 76, 76, 100);
}

body {
	width: 100%;
	height: 100vh;
	background-color: black;
}

nav {
	height: 10vh;
	background-color: rgba(231, 76, 76, 100);

}

.navDiv {
	display: inline;
	height: 100%;
}

.line {
	
}

#navLogo {
	width: 20%;
	height: 10vh;
}

#navButtons {
	list-style: none;
	vertical-align: top;
	height: 100%;
	display: inline;

}

.navItem {
	display: inline;
	margin-left: 3%;
}

.navBtn {
	width: 15vw;
	height: 100%;
	font-weight: bold;
	font-size: 2.5vw;
	font-family: 'Langar', cursive;
	border: none;
	background-color: rgba(231, 76, 76, 100);
	border-top: 0.5rem solid rgba(231, 76, 76, 100);
	transition-duration: 0.5s;
	text-decoration: none;
	outline: none;
	overflow: hidden;
}

#gameBtn {
	color: white;
	background-color: black;
	/*text-shadow:
   -1px -1px 0 rgba(231, 76, 76, 100),  
    1px -1px 0 rgba(231, 76, 76, 100),
    -1px 5px 0 rgba(231, 76, 76, 100),
     1px 1px 0 rgba(231, 76, 76, 100);*/
}

#startPanel {
	display: none;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
	animation: translation 1s ease-in forwards 4.5s;
}

@keyframes translation {
  to {
    top: 50%;
  }
}

#logo1 {
	animation: filler 1s ease-in forwards 4s;
	width: 80%;
}



#logo1 path:nth-child(1) {
	stroke-dasharray: 1256;
	stroke-dashoffset: 1256;
	animation: dash 2s ease forwards;
}

#logo1 path:nth-child(2) {
	stroke-dasharray: 1622;
	stroke-dashoffset: 1622;
	animation: dash 2s ease forwards 0.3s;
}

#logo1 path:nth-child(3) {
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: dash 2s ease forwards 0.6s;
}

#logo1 path:nth-child(4) {
	stroke-dasharray: 1224;
	stroke-dashoffset: 1224;
	animation: dash 2s ease forwards 0.9s;
}

#logo1 path:nth-child(5) {
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: dash 2s ease forwards 1.2s;
}

#logo1 path:nth-child(6) {
	stroke-dasharray: 1256;
	stroke-dashoffset: 1256;
	animation: dash 2s ease forwards 1.5s;
}

#logo1 path:nth-child(7) {
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: dash 2s ease forwards 1.8s;
}

#logo1 path:nth-child(8) {
	stroke-dasharray: 1224;
	stroke-dashoffset: 1224;
	animation: dash 2s ease forwards 2.1s;
}

#logo1 path:nth-child(9) {
	stroke-dasharray: 1478;
	stroke-dashoffset: 1478;
	animation: dash 2s ease forwards 2.4s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filler {
  0% {
    fill: rgba(231, 76, 76, 0);
  }

  100% {
  	fill: rgba(231, 76, 76, 100);
  }
}

#logo2 {
	width: 30%;
	opacity: 0;
	animation: appear 1s ease-in forwards 4s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

#gameSetup {
	margin-top: 2rem;
	opacity: 0;
	animation: appear 1s ease-in forwards 6s;
}

#gameSetup form {
	display: inline;
}

#name, #startForm select, #startForm select optgroup, #startForm select optgroup option, #startBtn {
	background-color: black;
	border: 0.1rem solid rgba(231, 76, 76, 100);
	width: 20%;
	height: 8vh;
	font-weight: bold;
	font-size: 2vw;
	font-family: 'Langar', cursive;
	color: white;
	outline: none;
	margin-left: 1rem;
	text-align: center;
}

#startForm input:hover, #startForm select:hover, #startBtn:hover {
	background-color: rgba(231, 76, 76, 100);
	color: black;
	cursor: pointer;
}

#startBtn {
	overflow: hidden;
}

#gamePanel {
	/*display: none;*/
	color: white;
	text-align: center;
	/*font-weight: bold;*/
	font-family: 'Langar', cursive;
}

#categorySpan {
	font-weight: bold;
	font-size: 3vw;
	font-family: 'Langar', cursive;
	position: absolute;
	top: 20% ;
	left: 50%;
	transform: translate(-50%, -50%);
}

#scoreSpan, #timeSpan {
	font-weight: bold;
	font-size: 2vw;
	font-family: 'Langar', cursive;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 25%;
}

#scoreSpan {
	left: 20%;
}

#timeSpan {
	left: 80%;
}

#questionDiv {
	position: absolute;
	top: 35% ;
	left: 16.5%;
	font-size: 2vw;
}

#hintDiv {
	position: absolute;
	top: 45% ;
	left: 16.5%;
	font-size: 1.5vw;
	font-family: 'Langar', cursive;
}

#hintBtn {
	background-color: black;
	border: 0.1rem solid rgba(231, 76, 76, 100);
	color: white;
	width: 250%;
	height: 5vh;
	font-size: 1.5vw;
	font-family: 'Langar', cursive;
	outline: none;
}

#audioPlayer {
	position: absolute;
	top: 55% ;
	left: 16.5%;
}

#answerDiv {
	position: absolute;
	top: 75% ;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#answerInput {
	width: 53%;
	font-size: 1.5vw;
	font-family: 'Langar', cursive;
	padding-left: 2rem;
	height: 7vh;
	outline: none;
}

#submitBtn, #skipBtn {
	background-color: black;
	border: 0.1rem solid rgba(231, 76, 76, 100);
	color: white;
	width: 15%;
	height: 7vh;
	font-size: 1.5vw;
	font-family: 'Langar', cursive;
	outline: none;
}

#submitBtn:hover, #skipBtn:hover, #hintBtn:hover {
	background-color: rgba(231, 76, 76, 100);
	color: black;
	cursor: pointer;
}

#nameSpan {
	position: absolute;
	top: 80% ;
	left: 16.5%;
	font-size: 1.5vw;
}

#skipBtn {
	position: absolute;
	top: 88% ;
	left: 16.5%;
}

#hangman {
	position: absolute;
	top: 35% ;
	left: 70%;
	width: 10%;
}

#hanger {
	position: absolute;
	top: 35% ;
	left: 70%;
}

.deadHead {
	display: none;
}

.aliveHead {

}

.you {
	animation: blinker 0.5s linear 0s infinite alternate;
}

@keyframes blinker {
	from{
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#leaderboardPanel {
	display: none;
}

#aboutPanel {
	display: none;
}

#transitionPanel {
	/*display: none;*/
	position: fixed;
	top: 50%;
	left: -50%;
	transform: translate(-50%, -35%);
	background-color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	transition-duration: 0.5s;
}

#logo3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	width: 100%;
	height: 100%;
}

#logo3 svg:nth-child(1) {
	width: 80%;
	fill: rgba(231, 76, 76, 100);
}

#logo3 svg:nth-child(2) {
	width: 30%;
}